extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Title <
      h1 Will's Portfolio

      //- Description/Purpose. 
      p.lead.text-light
        | A Portfolio of everything I've built thus-far
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      ul
        each color in colors
          li= color
         
      .cell
        a(href='#')
          img.thumbnail(src='/static/images/Will.jpg')
          h5 Title
      
